body {
  margin: 0;
  background-color: #123;
}

@mixin backgroundGradient($arg) {
  background: linear-gradient($arg, #8b3aff, #e044ff);
}

.phone {
  background: white;
  border: 1rem solid white;
  border-radius: 2rem;
  width: 20rem;

  .phone-screen {
    border-radius: 2rem;

    .contact-header {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      color: white;
      @include backgroundGradient(90deg);

      .contact-info-container {
        display: flex;
        justify-content: space-arounds;
        align-items: center;
        padding: 1rem;

        img {
          border: 2px solid white;
          border-radius: 100dvw;
          width: 2.25rem;
        }
      }
    }
  }
}

.container-name-status {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 1rem;

  .contact-status {
    opacity: 0.5;
  }
}

// .btn {
//   border: none;
//   background: none;
//   padding: 0;
//   margin: 0;
//   fill: white;
//   cursor: pointer;

//   svg {
//     fill: white;
//   }
// }
